/* 基本設定 */

html{
    position: relative;
}

body{
    background-image: url(../sub-page-Img/contract/background.png);
    /* background-repeat: repeat-y; */
    /* width: 1920px; */
    height: auto;
    
}
h2{
    font-size: 32px;
}
section{
    max-width: 1320px;
    margin: auto;
    height: auto;
    justify-content: center;
    padding:0 150px;
}
a:link{
    color: black;
    text-decoration:none;
}
a:visited{
    color: black;
    text-decoration:none;
}
/* ========================== */

/* ===================================== */

.banner-bg img{
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 0px; 
    z-index: -1;

}
.banner-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    color: white;
    /* 更改點↓ */
    /* title上邊距，避開固定導覽列 */
    margin-top: 170px; /*h2 位於 banner-bg 頂部 */

}

.banner-botton p{
    border-radius: 10px;
    background-color: #FF9800;
    width: 279px;
    height: 75px;
    align-content: center;
    text-align: center;
    font-size: 24px;
    margin-right: 55px;
    
}

/* ========================================== */
.servers h3{
    font-size: 28px;
    text-align: center;
    
    margin-bottom: 30px; 
}
.ct-cardlist{
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
}
.ct-cardlist .ct-card{
    box-sizing: border-box;
    width: 280px;
    height: 174px;
    padding: 25px 15px 15px 15px;
    /* border: 1px solid black; */
    border-radius:22px ;
    background-color: #FFDD83;
}
.ct-cardlist .ct-card .sub-title{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 15px;
}
.ct-cardlist .ct-card .contain{
    line-height: 20px;
    font-size: 15px;
    letter-spacing: 2px;
}

/* hover */
.ct-card:hover {
    /* border:3px solid rgba(311,121,111,11) ; */
    /* x軸 y軸 暈染程度 顏色 */
    box-shadow: 0 0px 30px #bc7100;
    margin-top: -10px;
}



/* ============================= */
.no-search{
    width: 487px;
    height: 75px;
    background-color: #FF9800;
    align-content: center;
    text-align: center;
    border-radius: 10px;
    margin: 80px auto;
    animation: myAnimation .8s ease-in-out 3s infinite alternate forwards;
    color: white;
}


/* 定義動畫 */
@keyframes myAnimation {
    0% {
        transform: rotate(-5deg);
        background-color:#FF9800;
        color: rgb(255, 255, 255);
        
    }
    100% {
        transform: rotate(5deg);
        background-color:#FF9800;
        color: rgb(255, 255, 255);
    }
}
/* ============================= */
.ser-sibTitle{
    text-align: center;
    font-size: 20px;
    margin-bottom:75px ;
}
.sec-servers h3{
    margin-bottom:30px ;
    font-size: 28px;
    text-align: center;
}





.step-cardlist{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    
}
.step-card{
    background-color: white;
    display: flex;
    height: 311px;
    border-radius: 31px;
    position: relative;
    z-index: 1;
    justify-content: space-between;
    overflow: hidden;
}
.st-icon{
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -70px;
    left: -70px;
    transition: all 0.3s ease-out, right 0.3s ease-out;
}
.st-icon span{
    font-size: 60px;
    
}
.st-card-design img{
    position: absolute;
    z-index: -1;
}
.st-card-tit-box{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 50px;
    left: 50px;

}
.st-card-tit{
    font-size: 20px;
    padding-left: 20px;
    letter-spacing: 2px;
    font-weight: bold;
}
.num{
    box-sizing: border-box;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:36px ;
    font-family: "noto sans";
    border-left:3px solid #777;
    padding-bottom: 10px;
}
.num p + p{
    color: red;
    font-size: 40px;
}

.st-contain{
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 35px;
    width: 50%;
    margin-top: 20px;
}

/* card hover */
.step-card:hover .st-icon{
    top: 10px;
    left: 10px;
}



.st-button{
    display: flex;
    justify-content: center;
    margin: 115px 0;
}
.st-button p{
    border-radius: 10px;
    background-color: #FF9800;
    width: 250px;
    height: 75px;
    align-content: center;
    text-align: center;
    font-size: 20px;
}
.st-button p:hover{
    background-color: white;
    border:1px solid #FF9800;
}




.phone-downdown{
    display: none;
}

/* ============================ */
/* ============================ */
@media screen and (max-width: 576px){
    /* section介面要改padding: 0 5%; */
    
    .servers{
        padding: 0 5%;
    }
    .sec-servers{
        padding: 0 5%;
    }
    /* banner */
    .banner-title{
        padding: 0 5%;
        text-align: center;
        font-size: 30px;
        justify-self: center;
        margin-bottom: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .phone-downdown{
        display: block;
        margin-top: 150px;
    }

    .phone-downdown span{
        font-size: 50px;
        animation-name: downdown-icon;
        animation-duration: 2s; 
        animation-timing-function: ease-in-out; 
        animation-iteration-count: infinite;
        animation-delay: 1s; /* 頁面加載後延遲 1 秒再開始 */
        /* 確保元素在動畫開始時可以被看見*/
        opacity: 1;
    }
    @keyframes downdown-icon {
        0% {
        transform: translateY(0);
        opacity: 0; 
        }
        50% {
            transform: translateY(-15px);
            opacity: 1; 
        }
        100% {
            transform: translateY(0); /* 回到底部 */
            opacity: 0; 
        }
    }
    /* 漸進出現 */
    .servers {
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    .servers.is-visible {
        opacity: 1;
    }
    
    /* 契約清單 */
    
    .ct-cardlist{
        grid-template-columns: repeat(1,1fr);
        box-sizing: border-box;
       
    }
    .ct-cardlist .ct-card{
        width: 100%;
    }
    .ct-cardlist .ct-card .contain{
        font-size: 16px;
    }
    .no-search{
        width: 100%;
    }
    .step-cardlist{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .step-card{
        width: 80%;
        height: auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
    .step-card .num{
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        font-family: "noto sans";
        top: -10px;
        right: auto;
        left: auto;
        
    }
    
    /* 步驟清單 */
    .step-cardlist {
        grid-template-columns: 1fr;
        gap: 20px; 
    }

    
    .step-card {
        flex-direction: column; 
        height: auto; /* 讓高度根據內容調整 */
        padding-bottom: 20px;
        
    }
    .st-card-design{
        position: absolute;
        top: -10px;
    }
    

    .st-icon {
        top: 0px; 
        left: 0px; 
    }
    .st-icon span {
        font-size: 50px; 
    }

    
    .st-card-tit-box {
        position: static; 
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-items: center;
    }
    .st-card-tit {
        font-size: 18px; 
        padding-left: 0; 
        letter-spacing: 1px;
    }
    
    /* 內容文字 */
    .st-contain {
        width: auto; 
        margin: 10px 20px 0 20px; 
        font-size: 14px; 
        line-height: 28px; 
    }


    .num {
       margin: 20px auto;
       background-color: white;
        border-left: none;
        /* border: 1px solid black; */
       
    }
    

    .num p + p {
        font-size: 34px;
    }

    /* 卡片懸停效果：調整圖示位置 */
    .step-card:hover .st-icon {
        top: 15px; 
        left: 15px;
    }
    
    
    
    
    
}