/* 基本設定 */

h4{
    font-size: 24px;
    /* margin-left: 100px; */

}

.news a{
    width: 100%;
}

/* ============================ */
.banner-bg img{
    width: 50%;
}

/* ============================ */
.news{
    display: flex;
    flex-direction: column;
}
.news-tit{
    font-size: 24px;
    letter-spacing: 2px;
    border-left:3px solid #FFEB3B;
    padding-left: 10px;
    
    margin-bottom: 50px;
}
.news-tit::first-letter{
    font-size: 28px;
}
.news-cardlist{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.news-law-card{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    position: relative;
    letter-spacing: 2px;
    overflow: hidden;
    transition: background .3s ease;
    border-radius: 10px;
}
.news-tag{
    margin: 10px 0 0 10px;
    padding: 5px;
    font-family: "noto sans";
    position: absolute;
    top: -50px;
    left:-70px;
    background-color: yellow;
    color: #444;
    border-radius: 30px;
    transition: all .3s ease;
}
.news-card-pic{
    position: absolute;
    bottom: -10px;
    left: 20px;
}
.news-card-pic img{
    width: 50%;
}
.news-txt{
    margin: 0 10px 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.news-txt p{
    margin-right: 5px;
}
#criminal {
    background: #F03A3A;
    transition: background .9s ease;

}
#civil{
    background: #F0A13A;
    transition: background .9s ease;
}
#administrative{
    background: #BEEADD;
    transition: background .9s ease;
    }
#supreme-court{
    background: #8A422E;
    transition: background .9s ease;
}
.news-law-card:hover .news-tag{
    top: 0px;
    left:0px;
}
#criminal:hover {
    background: linear-gradient(144deg, rgba(240, 58, 58, 1) 42%, rgba(255, 255, 255, 1) 100%);
}
#civil:hover {
    background: linear-gradient(144deg, rgba(240, 161, 58, 1) 42%, rgba(255, 255, 255, 1) 100%);
}
#administrative:hover {
    background: linear-gradient(144deg, rgba(190, 234, 221, 1) 42%, rgba(255, 255, 255, 1) 100%); 
}
#supreme-court:hover {
    background: linear-gradient(144deg, rgba(138, 66, 46, 1) 42%, rgba(255, 255, 255, 1) 100%);
}
/* ============================= */
.know-law{
    display: flex;
    flex-direction: column;
}
.know-cardlist{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-self: center;
    gap: 25px;
    margin-top: 80px;
    
}
.card{
    box-sizing: border-box;
    height: 175px;
    padding: 15px;
    border-radius:22px ;
    background-color: #FFDD83;
}
.card-title{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 15px;
}
.card-txt{
    line-height: 20px;
    font-size: 15px;
    letter-spacing: 2px;
    font-size: 12px;
}
/* hover */
.card:hover {
    /* border:3px solid rgba(311,121,111,11) ; */
    /* x軸 y軸 暈染程度 顏色 */
    box-shadow: 0 0px 30px #bc7100;
    margin-top: -10px;
}

/* ============================ */

.more{
    text-align: end;
    margin: 50px;
}














/* ============================ */
@media screen and (max-width: 768px){
    /* section介面要改padding: 0 5%; */
    .news{
        padding: 0 5%;
    }
    .news-cardlist{
        flex-direction: column;
    }
    .news-law-card {
        align-items: center;
        justify-content: space-between;
        height: 200px;
    }
    #criminal {
    background: linear-gradient(144deg, rgba(240, 58, 58, 1) 42%, rgba(255, 255, 255, 1) 100%);
    }
    #civil {
        background: linear-gradient(144deg, rgba(240, 161, 58, 1) 42%, rgba(255, 255, 255, 1) 100%);
    }
    #administrative {
        background: linear-gradient(144deg, rgba(190, 234, 221, 1) 42%, rgba(255, 255, 255, 1) 100%); 
    }
    #supreme-court {
        background: linear-gradient(144deg, rgba(138, 66, 46, 1) 42%, rgba(255, 255, 255, 1) 100%);
    }
    .news-tag{
        position: static;
        font-size: 20px;
        margin-right:80%;
        margin-top: 10px;

    }
    .news-card-pic {
        margin-left: 50px;
    }
    .news-card-pic img{
        width: 80%;
    }
    .news-txt{
        margin: 0 0 10px 0;
        margin-left: 60%;
    }

    /* 漸進式出現 JS*/
    .news {
        opacity: 0;
        /* 2. 設定平滑過渡效果：淡入時間為 1 秒 */
        transition: opacity 1s ease-in-out;
    }

    .news.is-visible {
        opacity: 1;
    }
    /* ================================= */
    .know-law{
        padding: 0 5%;
    }
    .know-cardlist{
        grid-template-columns: repeat(2,1fr);
    }
    .card{
        padding: 0 0;
        display: flex;
        flex-direction: column;
        
    }
    .card:hover {
        /* 移除陰影效果 */
        box-shadow: none; 
        /* 移除上移效果 (將 margin-top 設回預設) */
        margin-top: 0; 
    }
    .card-title{
        padding: 10px 10px 0 10px;
        text-align: start;
        letter-spacing: 1px
    }
    .card-txt{
        padding: 10px;
        margin: 0 ;
        letter-spacing: 1px;
        line-height: 20px;
    }
    .more{
        margin: 50px 0;
    }
}



@media screen and (max-width: 1024px){
    .news{
        margin: 0 30px;
    }
}