/* 基本設定 */

/* ============================== */
/* 裝飾品區域 */
#d1{
    position: absolute;
    top:0%;
    left: -5%;
    z-index: -1;
}
.little-deco img{
    width: 50%;
    animation-name: little-deco;
    animation-duration: 2s; 
    animation-timing-function: ease-in-out; 
    animation-iteration-count: infinite;
    animation-delay: 0s; /* 頁面加載後延遲 1 秒再開始 */
}
@keyframes little-deco{
    0% {
        transform: translateY(0);
        
        }
        50% {
            transform: translateY(-15px);
        }
        100% {
            transform: translateY(0);
        }
}
/* ============================ */
.qa-page{
    position: relative;
}
.qa-cardlist{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    margin-bottom: 100px;

}

.qa-card{
    margin: 10px 0;
    border-radius: 5px;
    overflow: hidden;
}
.qa-header{
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-family: "noto sans TC";
    letter-spacing: 2px;
    font-weight: 300px;
    height: 75px;
    border-radius: 5px;
    padding: 0 20px;
    /* position: relative;
    z-index: 1; */
}
.qa-header .icon{
    transition: transform .3s ease;
    font-size: 24px;
    margin-left: 10px;
}


    /* 回答處 */
    /* 展開前 */
.down-list{
    background-color: white;
    font-size:16px;
    font-family: "noto sans TC";
    line-height: 35px;
    letter-spacing: 2px;

    max-height: 0;
    overflow: hidden;
    width: 100%;
    
    /* position: absolute; */
    /* z-index: 1; */

/* 漸進 */
    transition: max-height 0.4s ease-in-out, padding 0.4s ease-in-out;    
}
.down-list p{
    transition: max-height 0.4s ease-in-out, padding 0.4s ease-in-out;  
}


/* 互動區 */

.qa-toggle:checked ~ .qa-header{
    border-radius: 5px 5px 0 0;
    /* background-color: aquamarine; */
    /* border-bottom: 3px solid black; */
}
.qa-toggle:checked ~ .qa-header + .down-list{
    max-height: 500px;
    /* background-color: aquamarine; */
    
}
.qa-toggle:checked ~ .qa-header + .down-list p{
    padding-top: 5px; 
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.qa-toggle:checked ~ .qa-header .icon{
    transform: rotate(45deg);
}

@media screen and (max-width: 768px) {

    .qa-page{
        padding: 0 5%;
    }
    .qa-header{
        font-size: 15px;
    }
    .down-list{
        font-size: 13px;
        
    }
    
    .qa-cardlist{
        margin-top: 100px;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}



















/* ============================ */
