/* 基本設定 */

*{
    margin: 0;
    padding: 0;
}
html{
    position: relative;
}

h4{
    font-size: 24px;
    /* margin-left: 100px; */

}


body{
    background-image: url(./background.png);
    /* background-repeat: repeat-y; */
    /* width: 1920px; */
    height: auto;
    
}

section{
    max-width: 1320px;
    margin: auto;
    height: auto;
    justify-content: center;
   
}
/* 連結樣式 */
a:link{
    color: black;
    text-decoration:none;
}
a:visited{
    color: black;
    text-decoration:none;
}
/* ============================= */
/* 導覽列 */
.header{
    display: flex;
    flex-direction: row;
    margin-top: 30px ;
    justify-content: space-between;
    margin-bottom: 100px;
    /* 更改點↓ */
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; /* 確保橫跨整個頁面 */
    z-index: 1000; /* 確保它在其他內容之上 */
}
.header .logo img{
    
    height: 120px;
    position: relative;
    top: -25px;
    left: 100px;
    margin-bottom: px;
}
.header-whiteLine{
    background-color: white;
    box-sizing: border-box;
    width: 800px;
    height: 80px;
    border-radius:40px 0 0 40px ;
    /* padding-left: 100px;
    padding-right: 50px; */
    justify-content: center;
    align-content: center;
    
}
.header-txt ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 20px;
}
.header-txt ul li{
    padding:20px ;
    border-radius: 40px ;
}
/* hover */
.header-txt li:hover  {
    background-color: #FF9800;
    color: white;
}
/* ============================ */
/* 抬頭背景圖 + 標題(這裡不是模板要自己改)*/
.banner-bg img{
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 0px; ;
    z-index: -1;

}
.title h2{
    display: flex;
    justify-content: center;
    font-size: 36px;
    margin-bottom: 300px;
    /* 更改點↓ */
    /* 增加 .title 的上邊距，避開固定導覽列 */
    margin-top: 200px; /* 給予足夠的空間，讓 h2 位於 banner-bg 頂部 */

}


/* ============================ */
.qa-cardlist{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    margin-bottom: 100px;

}

.qa-card{
    margin: 10px 0;
    border-radius: 5px;
    overflow: hidden;
}
.qa-header{
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    height: 75px;
    border-radius: 5px;
    padding: 0 20px;
    /* position: relative;
    z-index: 1; */
}
.qa-header .icon{
    transition: transform .3s ease;
    font-size: 24px;
    margin-left: 10px;
}


    /* 回答處 */
    /* 展開前 */
.down-list{
    background-color: white;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 2px;

    max-height: 0;
    overflow: hidden;
    width: 100%;
    
    /* position: absolute; */
    /* z-index: 1; */

/* 漸進 */
    transition: max-height 0.4s ease-in-out, padding 0.4s ease-in-out;    
}
.down-list p{
    transition: max-height 0.4s ease-in-out, padding 0.4s ease-in-out;  
}


/* 互動區 */

.qa-toggle:checked ~ .qa-header{
    border-radius: 5px 5px 0 0;
}
.qa-toggle:checked ~ .qa-header + .down-list{
    max-height: 500px;
    
}
.qa-toggle:checked ~ .qa-header + .down-list p{
    padding-top: 5px; 
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.qa-toggle:checked ~ .qa-header .icon{
    transform: rotate(45deg);
}

















/* ============================ */
/* 頁尾 */
.footer{
    position: relative;
    display: flex;
    justify-content: space-evenly;
}
.bg-footer{
    position: absolute;
    bottom: 0;
    background-color: white;
    z-index: -1;
}
.bg-footer .gray-line{
    /* border:1px solid #000000; */
    height: 35px;
    background-color:#5A5A5A ;
}
.bg-footer img{
    width: 100%;
}
.footer .logo{
    padding-top: 84px;
}

.footer .logo img{
    width: 80%;
}

.txt-footer{
    padding-top: 84px;
    display: flex;
}
.txt-footer1{
    margin-right:100px;
}

.txt-footer1 p{
    padding: 20px 0;
    font-size: 16px;
    display: flex;
    align-content: center;
    justify-content: center;
    
    
}
.txt-footer2 p{
    padding: 20px 0;
    font-size: 16px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.copyright{
    align-self: self-end;
    font-size: 15px;
    
}