

/* ==================================== */
.line-icon{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 2;
}
.line-icon img{
    width: 80px;
    
}
/* hover */
.line-icon:hover img{
    width: 100px;

}

/* ================================== */

/* 裝飾品(封面) */

.banner-pic{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    overflow:hidden;
}



.deco1{
    position: absolute;
    top: 0px;
    left: 500px;
    z-index: -2;
}
.deco1 img{
    width: 100%;
    opacity: 0.6;
}
.deco2{
    position: absolute;
    z-index: -1;
    top: 500px;
}
.deco2 img{
    width: 75%;
    opacity: 0.6;
}
.deco3{
    position: absolute;
    z-index: -1;
    top: 120px;
    right: 0;
    /* animation: myAnimation .3s ease-in-out 1s  alternate forwards; */
}
.deco3 img{
    width: 100%;
}
.deco4{
    position: absolute;
    z-index: -1;
    top: 300px;
    right: 0px;
}
.deco4 img{
    width: 100%;
}
.deco5{
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 350px;
}
.deco5 img{
    width: 100%;
}
.deco6{
    position: absolute;
    z-index: -1;
    top: -100px;
    left: 0px;
}
.deco6 img{
    width: 60%;
}
.deco7{
    position: absolute;
    z-index: -1;
    top: 600px;
    right: 0px;
}
.deco7 img{
    width: 100%;
}


/* ====================================== */
.banner{
    /* padding-bottom: 400px; */
    padding-top: 0px;
    
    
}
.banner .contain {
    margin-left: 150px;
    margin-top: 65px;
}
.banner .contain .title{
    
    /* 更改點↓ */
    /* 增加上邊距，避開固定導覽列 */
    margin-top: 200px; /*  h2 位於 banner-bg 頂部 */

}
.banner .contain .title h1{
    line-height: 65px;
    font-size:40px;
}
.banner .contain .txt{
    margin: 15px 0;
    font-size: 20px;
}
/* ============================= */
/* 按鈕樣式 */
.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-top: 100px;
    

}

.button-txt{
    border-bottom:1px solid #777;
    padding-bottom: 0;
    padding-right: 30px;
    padding-left: 50px;
    font-size: 20px;
    transition: border-bottom 0.3s ease-in-out;
}

.button-style{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #777;
    position: absolute;
    left: 120px;
}
/* hover */
.button:hover .button-txt{
    border-bottom:none;
}
/* ============================ */
/* 標題樣式 */
.title h2::first-letter{
    font-size: 80px;
}
.title h2{
    border-left: 5px solid #FF9800;
    padding-left: 10px;
    text-justify: center;
    letter-spacing: 2px;
}
/* ================== */
/* 關於我們 */
.about-us{
    margin-top: 500px;
    margin-bottom: 100px;
}
.aboutus-con{
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    letter-spacing: 2px;
    line-height: 24px;

}
.rd1{
    width: 500px;
    padding: 10px;
}
.rd2{
    width: 500px;
    padding: 10px;
}
/* ================================== */


/* --- 使用理由 --- */

.reason .title h2{
    
    margin-bottom: 50px;

    
}

.reason .contain .title h3{
    margin-bottom: 12px;
    
}

.reason-cardlist{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px; 
}

/* 單個卡片容器*/
.reason-cardlist .reason-card {
    width: 300px; /* 設定單張卡片寬度 */
    text-align: center;
}

/* --- 圓圈樣式 (核心) --- */
.circle{
    background-color: white; /* 白色背景 */
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* 水平垂直置中 */
    margin: auto;
    transition: background-color 0.3s ease; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    z-index: -1;
}

.circle img{
    width: 30%;
    display: block; 
    margin: 0; 
    
    filter: invert(0%); 
    transition: filter 0.3s ease; 
}

.circle .title{
    padding-top:10px ;
}
.circle .title h3{
    padding: 0;
    margin: 0;
    color: #000000; 
    transition: color 0.3s ease; 
}


/* .reason .contain .reason-cardlist .circle .txt{
    position: relative;
    top: 100px;
}
*/

/* 圓圈下方的詳細文字 (如果文字在圓圈外) */
.reason .contain .reason-cardlist .txt {
    padding-top: 40px; 
    font-size: 16px;
    line-height: 1.8;
}


/* --- 懸停動畫 (Hover Effect)?????? --- */

/* 1. 變色 (背景) */
.reason-card:hover .circle {
    background-color: #FF9800 !important; 
    
}

/* 2. 變色 (圖示) */
.reason-card:hover .circle img {
    /* opacity: 0; */
    filter: invert(100%); 
   
}

/* 3. 變色 (標題) */
.reason-card:hover .circle .title h3 {
    color: white;
}

section.reason{
    
    margin-bottom: 100px;
}



/* ============================================ */


.comment .contain .title{
    justify-items: center;
    position: relative;
    padding-bottom: 50px; 
}
.comment .contain .title .penlight{
    position: absolute;
    top: 50px;
    z-index: -1;
}


.com-cardlist-row1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;

}
.com-card{
    background-color: white;
    border-radius:42px ;
    display: flex;
    flex-direction: row;
    margin: 10px;
    

}
.com-cardlist-row2{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 70%;
}
.com-pic{
    padding: 10px;
    display: flex;
    align-items: center;
    
}
.com-pic img{
    width: 80%;
    border-radius: 50%;
}
.com-txt{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-right:10px ;
    padding-bottom:10px ;
    color: #444;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
}



/* ======================================= */
.lawer{
    margin-top: 100px;
}
.lawer .contain .title{
    padding-bottom: 50px ;
}
.lawer .contain .txt{
    justify-items: center;
    font-size: 20px;
    padding-bottom: 50px;
}

.lawer .contain .pen-light{
    position: relative;
}
.lawer .contain .pen-light img{
    position: absolute;
    bottom: 30px;
    right: 170px;
    z-index: -1;
}


.lawer-cardlist{
    display: flex;
    margin-bottom: 100px;
    
}

.lawer-cardlist .lawer-card{
    position: relative;
    overflow: hidden;
    object-fit: cover; /* 確保圖片覆蓋整個區域不變形 */
    display: block;
    transition: filter 0.3s ease; /* 圖片的過濾效果添加過渡 */
    margin: 0 20px;
}

.lawer-pic img{
    width: 100%;
    height: 100%;

}

.experience {
    background-color: rgba(0,0,0,85);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    align-content: center;
    padding: 10px;


    opacity: 0; /* 預設隱藏 (透明度為 0) */
    transition: opacity 0.3s ease; /* 讓顯示/隱藏有平滑的過渡效果 */
    transition: opacity 0.3s ease; /* 讓顯示/隱藏有平滑的過渡效果 */
}
.experience p{
    background-color: #000000;
    font-size: 12px;
    color: white;
    line-height: 20px;
    padding-left: 25px;
    
}
.experience ul{
    color: white;
    font-size: 12px;
    color: white;
    line-height: 20px;
    padding: 10px ;
}

.lawer-name{
    font-size:16px ;
    justify-items: center;
    background-color: white;
    border-radius:0 0 7px 7px ;
    margin: 0 ;
    padding:25px;
}

/* 懸停動畫 */
/* 懸停在圖片時，讓詳細資訊顯示 (不透明度為 1) */
.lawer-card:hover .experience {
    border-radius: 7px;
    opacity: 1;
    pointer-events: auto; /* 懸停時恢復點擊 */
}
/* ========================= */
/* 契約生成 */
/* .contract .contain .title h2{
    margin-left: 150px;
    
} */
.contract{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 50px;
}


.contract .contain .sub-txt {
    /* border:1px solid #000000; */
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    margin-right: 150px;
    
}
.contract .title .sub-txt{
    margin-left: 20px;
}

/* ================================ */
.ct-cardlist{
    display: flex;
    justify-content: space-between;
    
}

.ct-card{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
   
}

.ct-card img{
    width: 100%;
    
}
.ct-card .txt{
    width: 100%;
    box-sizing: border-box;
    margin-top: -10px;
    
    margin-bottom: 200px;
    align-content: center;
    border-top: none;
}
.ct-card .txt p{
    line-height: 35px;
    padding:0 15px;
}

.ct-pic{
    display: flex;
    flex-direction: column;
    position: relative;

}
.ct-title h3{
    margin: 20px 0;
    padding-left: 15px;
    font-size: 24px;
    bottom:20px; 

}



