/* 基本設定 */

*{
    margin: 0;
    padding: 0;
}
html{
    position: relative;
}

h3{
    font-size: 26px;
    /* margin-left: 100px; */

}


body{
    background-image: url(/banner/background.png);
    /* background-repeat: repeat-y; */
    /* width: 1920px; */
    height: auto;
    
}
a:link{
    color: black;
    text-decoration:none;
}
a:visited{
    color: black;
    text-decoration:none;
}


/* ============================= */
/* 導覽列 */
.header{
    display: flex;
    flex-direction: row;
    margin-top: 30px ;
    justify-content: space-between;
    margin-bottom:30px;
}
.header .logo img{
    
    height: 120px;
    position: relative;
    top: -25px;
    left: 100px;
    
}
.header-whiteLine{
    background-color: white;
    box-sizing: border-box;
    width: 800px;
    height: 80px;
    border-radius:40px 0 0 40px ;
    /* padding-left: 100px;
    padding-right: 50px; */
    justify-content: center;
    align-content: center;
    
}
.header-txt ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 20px;
}
.header-txt ul li{
    padding:20px ;
    border-radius: 40px ;
}
/* hover */
.header-txt li:hover  {
    background-color: #FF9800;
    color: white;
}
/* ============================ */
/* 抬頭背景圖 + 標題(這裡不是模板要自己改)*/
.banner-bg img{
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 0px; 
    z-index: -1;

}
.big-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    text-align: center;
    gap: 10px;
}
.big-title h2{
    font-size: 36px;
    color:white ;
}

.banner-subtitle p{
    font-size: 20px;
    color:white ;

}

/* ============================ */

section{
    max-width: 1320px;
    margin: auto;
    height: auto;
    justify-content: center;
    padding:0 150px;
    display: flex;
}
/* ========================== */
.title{
    font-size: 24px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 40px;
    /* 更改點↓ */
    /* 避開固定導覽列 */
    margin-top: 120px; /* h2 位於 banner-bg 頂部 */
}
/* ====================== */
/* 頁尾 */
.footer{
    position: relative;
    display: flex;
    justify-content: space-evenly;
}
.bg-footer{
    position: absolute;
    bottom: 0;
    background-color: white;
    z-index: -1;
}
.bg-footer .gray-line{
    /* border:1px solid #000000; */
    height: 35px;
    background-color:#5A5A5A ;
}
.bg-footer img{
    width: 100%;
}
.footer .logo{
    padding-top: 84px;
}

.footer .logo img{
    width: 50%;
}

.txt-footer{
    padding-top: 84px;
    display: flex;
}
.txt-footer1{
    margin-right:100px;
}

.txt-footer1 p{
    padding: 20px 0;
    font-size: 16px;
    display: flex;
    align-content: center;
    justify-content: center;
    
    
}
.txt-footer2 p{
    padding: 20px 0;
    font-size: 16px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.copyright{
    display: flex;
    align-self: self-end;
    font-size: 15px;
    
}