/* 基本設定 */

*{
    margin: 0;
    padding: 0;
}
html{
    position: relative;
}




body{
    background-image: url(./background.png);
    /* background-repeat: repeat-y; */
    /* width: 1920px; */
    height: auto;
    
}

section{
    max-width: 1320px;
    margin: auto;
    height: auto;
    justify-content: center;
    padding:0 150px;
}
a:link{
    color: black;
    text-decoration:none;
}
a:visited{
    color: black;
    text-decoration:none;
}
/* ============================= */
/* 導覽列 */
.header{
    display: flex;
    flex-direction: row;
    margin-top: 30px ;
    justify-content: space-between;
    
}
.header .logo img{
    
    height: 120px;
    position: relative;
    top: -25px;
    left: 100px;
    
}

/* ============================ */
/* 契約完成進度 */

.loading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items:center ;
    align-content: center;
    align-items: center;
    margin-bottom: 30px;
    letter-spacing: 2px;
}
.compelet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    .step-icon{
        font-size: 25px;
    }
}
.un-compelet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    .step-txt{
        color: #777;
    }
    .step-icon{
        font-size: 25px;
        
    }
}
/* .line{
    margin-bottom: 20px;
    height: 5px;
    width: 200px;
    background-color: #777;
} */
.un-compelet .step-icon{
    background-color: #777;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.compelet .step-icon{
    background-color: #ff9800;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}



/* ============================ */
/* 按鈕 */
.goback{
    display: flex;
    flex-direction: row;
    align-items:center ;
    gap: 30px;

}
.goback img{
    width: 25%;
}
.goback p{
    box-sizing: border-box;
    width: 100%;
}

.button-all{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
    
}

.button{
    /* border: 1px solid black; */
    background-color: #ff9800;
    border-radius: 10px;
    width: 184px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 20px;
    
}
/* ============================ */
/* 使用者預覽 */


.view-box{
    background-color: white;
    border-radius: 10px;
    padding: 50px;
}
.contract p{
    letter-spacing: 2px;
    line-height: 35px;
}
ul{
    list-style: none;
    letter-spacing: 2px;
    line-height: 35px;
}

