/* 基本設定 */

*{
    margin: 0;
    padding: 0;
}
html{
    position: relative;
}




body{
    background-image: url(./background.png);
    /* background-repeat: repeat-y; */
    /* width: 1920px; */
    height: auto;
    
}

section{
    max-width: 1320px;
    margin: auto;
    height: auto;
    justify-content: center;
    padding:0 150px;
}
a:link{
    color: black;
    text-decoration:none;
}
a:visited{
    color: black;
    text-decoration:none;
}
/* ============================= */
/* 導覽列 */
.header{
    display: flex;
    flex-direction: row;
    margin-top: 30px ;
    justify-content: space-between;
    
}
.header .logo img{
    
    height: 120px;
    position: relative;
    top: -25px;
    left: 100px;
    
}

/* ============================ */
/* 契約完成進度 */

.loading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items:center ;
    align-content: center;
    align-items: center;
    margin-bottom: 30px;
    letter-spacing: 2px;
}
.compelet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    .step-icon{
        font-size: 25px;
    }
}
.un-compelet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    .step-txt{
        color: #777;
    }
    .step-icon{
        font-size: 25px;
    }
}
/* .line{
    margin-bottom: 20px;
    height: 5px;
    width: 200px;
    background-color: #777;
} */
.un-compelet .step-icon{
    background-color: #777;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.compelet .step-icon{
    background-color: #ff9800;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
/* ================================= */
/* 步驟標題方塊文字 */
.step-title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
/* =============================== */
/* 第一步驟方塊 */
.step1{
    width: 100%;
    box-sizing: border-box;
    margin-bottom:50px ;
    padding: 20px;
    background-color: #EBCBAC;
}

.step1-cardlist{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.step1-card{
    display: flex;
    flex-direction: column;
    width: 250px;
    border: 1px solid black;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    margin: 10px 20px;
    background-color: white;
}

.step1-card .prize{
    font-size: 24px;
    
}
.step1-card .version{
    font-size: 24px;
}
.step1-card .txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.step1-card .txt p{
    
    font-size: 12px;
    padding: 15px;
    color: gray;
}
/* ============================================ */
/* 步驟二方塊 */
.step2{
    width: 100%;
    box-sizing: border-box;
    margin-bottom:50px ;
    padding: 20px;
    background-color: #EBCBAC;
}
.enter-info{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.enter-info p{
    margin: 10px 0;
    /* 輸入框前面文字對齊 */
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    
}

.pay-select{
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: flex-start;
}
.pay-select label{
    margin: 10px;
}

/* ============================ */
/* 按鈕 */
.goback{
    display: flex;
    flex-direction: row;
    align-items:center ;
    gap: 30px;

}
.goback img{
    width: 25%;
}
.goback p{
    box-sizing: border-box;
    width: 100%;
}

.button-all{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
    
}

.button{
    /* border: 1px solid black; */
    background-color: #ff9800;
    border-radius: 10px;
    width: 184px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 20px;
    
}
/* ============================ */
/* 介面 */


.view-box{
    background-color: white;
    border-radius: 10px;
    padding: 50px;
}



