/* 基本設定 */

*{
    margin: 0;
    padding: 0;
}
html{
    position: relative;
}


body{
    background-image: url(./background.png);
    /* background-repeat: repeat-y; */
    /* width: 1920px; */
    height: auto;
    
}

section{
    max-width: 1320px;
    margin: auto;
    height: auto;
    justify-content: center;
    padding:0 150px;
}
a:link{
    color: black;
    text-decoration:none;
}
a:visited{
    color: black;
    text-decoration:none;
}
/* ============================= */
/* 導覽列 */
.header{
    display: flex;
    flex-direction: row;
    margin-top: 30px ;
    justify-content: space-between;
    margin-bottom: 30px;
}
.header .logo img{
    
    height: 120px;
    position: relative;
    top: -25px;
    left: 100px;
    
}
.header-whiteLine{
    background-color: white;
    box-sizing: border-box;
    width: 800px;
    height: 80px;
    border-radius:40px 0 0 40px ;
    /* padding-left: 100px;
    padding-right: 50px; */
    justify-content: center;
    align-content: center;
    
}
.header-txt ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 20px;
}
.header-txt ul li{
    padding:20px ;
    border-radius: 40px ;
}
/* hover */
.header-txt li:hover  {
    background-color: #FF9800;
    color: white;
}
/* ============================ */
/* 抬頭背景圖 + 標題(這裡不是模板要自己改)*/
.banner-bg{
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: #EBCBAC;
    top: 0;
    z-index: -1;
}
.title{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
/* 字距字間設定 */
.contain , td{
    line-height:35px;
    letter-spacing: 2px;
}
/* ============================ */
/* 回最上層按鈕 */

.gotop{
    background-color: #D8D8D8;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:10px ;
    position: fixed;
    right: 100px;
}


/* ============================= */
/* 目錄 */
.catalog{
    display: flex;
    flex-direction: column;
    background-color: #FFDD83;
    width: 650px;
    box-sizing: border-box;
    margin-bottom: 80px;
    border-radius: 10px;
   
}
.ques{
    text-align: center;
    font-size:24px ;
    font-weight: bold;
}
.point ol{
    display: flex;
    flex-direction: column;
    
}
.point ol li{
    padding:10px;
}
.point ol li:hover{
    text-decoration-line: underline;
}
/* ==================================== */
/* 文章 */
.r-title{
    font-weight: bolder;
    font-size: 24px;
    padding: 10px;
    border-left: 9px solid #FFEB3B;
}
.contain{
    margin: 10px 100px;
    padding:10px 50px;
    background-color: white;
    border-radius: 0 0 10px 10px;
}
.contain ul{
    padding: 0 50px;
}






table,table tr td {
    border: 1px solid #000;
    text-align: center;
    border-collapse: collapse;

}
table tr td {
    padding: 3px;
}
/* ============================== */
.button{
    background-color: #ff9800;
    border-radius: 10px;
    width: 184px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:100px auto 50px auto;
}

/* =============================== */