/* 基本設定 */

*{
    margin: 0;
    padding: 0;
}
html{
    position: relative;
}

h4{
    font-size: 24px;
    /* margin-left: 100px; */

}


body{
    background-image: url(./background.png);
    /* background-repeat: repeat-y; */
    /* width: 1920px; */
    height: auto;
    
}

section{
    max-width: 1320px;
    margin: auto;
    height: auto;
    justify-content: center;
    padding:0 150px;
}
a:link{
    color: black;
    text-decoration:none;
}
a:visited{
    color: black;
    text-decoration:none;
}
/* ============================= */
/* 導覽列 */
.header{
    display: flex;
    flex-direction: row;
    margin-top: 30px ;
    justify-content: space-between;
    margin-bottom: 100px;
    /* 更改點↓ */
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; /* 確保橫跨整個頁面 */
    z-index: 1000; /* 確保它在其他內容之上 */
}
.header .logo img{
    
    height: 120px;
    position: relative;
    top: -25px;
    left: 100px;
    
}
.header-whiteLine{
    background-color: white;
    box-sizing: border-box;
    width: 800px;
    height: 80px;
    border-radius:40px 0 0 40px ;
    /* padding-left: 100px;
    padding-right: 50px; */
    justify-content: center;
    align-content: center;
    
}
.header-txt ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 20px;
}
.header-txt ul li{
    padding:20px ;
    border-radius: 40px ;
}
/* hover */
.header-txt li:hover  {
    background-color: #FF9800;
    color: white;
}
/* ============================ */
/* 抬頭背景圖 + 標題(這裡不是模板要自己改)*/
.banner-bg img{
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 0px; 
    z-index: -1;

}
.title h2{
    display: flex;
    justify-content: center;
    font-size: 36px;
    margin-bottom: 300px;
    color: white;
    align-content: center;
    /* 更改點↓ */
    /* 增加 .title 的上邊距，避開固定導覽列 */
    margin-top: 200px; /* 給予足夠的空間，讓 h2 位於 banner-bg 頂部 */
}


/* ============================ */
.know-cardlist{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-self: center;
    gap: 25px;
    margin-top: 80px;
}
.card{
    box-sizing: border-box;
    height: 175px;
    padding: 15px;
    border-radius:22px ;
    background-color: #FFDD83;
}
.card-title{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 15px;
}
.card-txt{
    line-height: 20px;
    font-size: 15px;
    letter-spacing: 2px;
}
/* hover */
.card:hover {
    /* border:3px solid rgba(311,121,111,11) ; */
    /* x軸 y軸 暈染程度 顏色 */
    box-shadow: 0 0px 30px #bc7100;
    margin-top: -10px;
}

/* ============================ */

.more{
    text-align: end;
    margin: 50px;
}

/* ============================ */
/* 頁尾 */
.footer{
    position: relative;
    display: flex;
    justify-content: space-evenly;
}
.bg-footer{
    position: absolute;
    bottom: 0;
    background-color: white;
    z-index: -1;
}
.bg-footer .gray-line{
    /* border:1px solid #000000; */
    height: 35px;
    background-color:#5A5A5A ;
}
.bg-footer img{
    width: 100%;
}
.footer .logo{
    padding-top: 84px;
}

.footer .logo img{
    width: 80%;
}

.txt-footer{
    padding-top: 84px;
    display: flex;
}
.txt-footer1{
    margin-right:100px;
}

.txt-footer1 p{
    padding: 20px 0;
    font-size: 16px;
    display: flex;
    align-content: center;
    justify-content: center;
    
    
}
.txt-footer2 p{
    padding: 20px 0;
    font-size: 16px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.copyright{
    align-self: self-end;
    font-size: 15px;
    
}