/* 基本設定 */

*{
    margin: 0;
    padding: 0;
}
html{
    position: relative;
}

h4{
    font-size: 24px;
    /* margin-left: 100px; */

}


/* 連結樣式 */
a:link{
    color: black;
    text-decoration:none;
}
a:visited{
    color: black;
    text-decoration:none;
}

/* ============================= */
/* 導覽列 */
.header{
    display: flex;
    flex-direction: row;
    margin-top: 30px ;
    justify-content: space-between;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; /* 確保橫跨整個頁面 */
    z-index: 1000; /* 確保它在其他內容之上 */
    
    
}
.header .logo img{
    
    height: 120px;
    position: relative;
    top: -25px;
    left: 100px;
    
}
.header-whiteLine{
    background-color: white;
    box-sizing: border-box;
    width: 800px;
    height: 80px;
    border-radius:40px 0 0 40px ;
    /* padding-left: 100px;
    padding-right: 50px; */
    justify-content: center;
    align-content: center;
    
}
.header-txt ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 20px;
}
.header-txt ul li{
    padding:20px ;
    border-radius: 40px ;
}
/* hover */
.header-txt li:hover  {
    background-color: #FF9800;
    color: white;
}
/* ============================ */
/* 抬頭背景圖 + 標題(這裡不是模板要自己改)*/
.banner{
    box-sizing: border-box;
    width: 100%;

    z-index: -1;
    background-color: #EBCBAC ;
    /* 白色框框到米色框框的底部距離 */
    padding-bottom: 80px;
    padding-top: 30px;


}
.title h2{
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: black;
    align-content: center;
    background-color: #EBCBAC ;
    /* 標題到白色方塊的距離 */
    padding-bottom: 40px;
    padding-top: 40px;

}
.white-bg{
    background-color:  white;
    border-radius: 37px;
    margin: 0 100px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    /* 圓形到白色框框的距離內部 */
    padding-top: 30px;
    justify-content: space-between;
    


}
.banner-circle{
    display: flex;
    justify-content: end;
    


}
.banner-man{
    position: absolute;
    top: -110px;
    left: 600px;
}
.banner-man img{
    width: 90%;
}
.banner-woman{
    position: absolute;
    top: -70px;
    left: 645px;
}
.banner-woman img{
    width: 90%;
}
.banner-txt{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    justify-content: center;
}
.banner-subtitle{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.banner-content p{
    font-size: 20px;
    letter-spacing: 2px;
    margin: 10px;
}

/* ============================ */

.update-bg img{
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 700px; 
    z-index: -1;

}
.update{

    max-width: 1320px;
    box-sizing: border-box;
    margin: auto;
    height: auto;
    padding:0 500px;
}
.up-cardlist{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;



}
.up-card{
    /* 暫時邊框 */
    /* border: 1px solid black; */
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: end;
    background-color: white;
    margin: 30px;
    width: 375px;
    padding: 50px;
    justify-content: space-between;
    border-radius:10px ;
    
    

}
.up-card .prize{
    font-size: 32px;
    

}
.up-card .version{
    font-size: 24px;
    letter-spacing: 2px;
}
.up-card .txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.up-card .txt p{
    
    font-size: 12px;
    padding: 15px;
    color: gray;
}
.up-button{
    width: 236.58px;
    height: 70px;
    /* border: 1px solid black; */
    /* 文字垂直置中 */
    align-content: center;
    border-radius: 3px;
    background-color: #FDEBB9;
    transition:  0.3s ease-in-out;

    

}
.up-button p{
    /* 文字水平置中 */
    justify-self: center;
    
}
/* hover */

/* 背景往上變色 */
.up-card:hover {
    margin-top: -10px;
    background-color: #FF9800;
    box-shadow: 0 0px 30px #b06a00;
    
}
/* 價格字體變色變大 */
.up-card:hover .prize p{
    color:white;
    font-size: 40px;
}
/* 內容變白 */
.up-card:hover .txt p{
    color:white
    
}

/* 按鈕變色 */
.up-button:hover {
    background-color: white;
}

/* ============================ */
/* 頁尾 */
.footer{
    position: relative;
    display: flex;
    justify-content: space-evenly;
}
.bg-footer{
    position: absolute;
    bottom: 0;
    background-color: white;
    z-index: -1;
}
.bg-footer .gray-line{
    /* border:1px solid #000000; */
    height: 35px;
    background-color:#5A5A5A ;
}
.bg-footer img{
    width: 100%;
}
.footer .logo{
    padding-top: 84px;
}

.footer .logo img{
    width: 80%;
}

.txt-footer{
    padding-top: 84px;
    display: flex;
}
.txt-footer1{
    margin-right:100px;
}

.txt-footer1 p{
    padding: 20px 0;
    font-size: 16px;
    display: flex;
    align-content: center;
    justify-content: center;
    
    
}
.txt-footer2 p{
    padding: 20px 0;
    font-size: 16px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.copyright{
    align-self: self-end;
    font-size: 15px;
    
}