/* 基本設定 */

*{
    margin: 0;
    padding: 0;
}
html{
    position: relative;
}

h4{
    font-size: 24px;
    /* margin-left: 100px; */

}


body{
    background-image: url(./background.png);
    /* background-repeat: repeat-y; */
    /* width: 1920px; */
    height: auto;
    
}

section{
    max-width: 1320px;
    margin: auto;
    height: auto;
    justify-content: center;
    padding:0 150px;
}
a:link{
    color: black;
    text-decoration:none;
}
a:visited{
    color: black;
    text-decoration:none;
}

/* ============================= */
/* 導覽列 */
.header{
    display: flex;
    flex-direction: row;
    margin-top: 30px ;
    justify-content: space-between;
    
}
.header .logo img{
    
    height: 120px;
    position: relative;
    top: -25px;
    left: 100px;
    
}

/* ============================ */
/* 進度條*/

.loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px;
}


/* ============================ */
.container{
    display: flex;
    flex-direction: row;
}

/* ============================ */
/* 使用者填入資料 左邊介面 */

.question{
    line-height: 50px;
    letter-spacing: 2px;
}

.hint{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    gap: 10px;
}
.hint-block p{
    width: 250px;
    background-color: white;
    padding: 10px;
    border: 2px dashed #ff9800;
    border-radius: 5px;
    margin-left: 10px;
    opacity: 0;
    letter-spacing: 2px;
    transition:opacity 0.4s ease-in-out, padding 0.4s ease-in-out; 
    
}
/* 小提醒hover */
.hint:hover .hint-block p{
    opacity: 1;
}


.answer{
    font-size: 18px;
    letter-spacing: 2px;

}
input{
    margin: 20px;
}
input[type="radio"] {
  accent-color: orange;
  transform: scale(1.5);
  /* width: 24px;
  height: 24px; */
}
.button{
    /* border: 1px solid black; */
    background-color: #ff9800;
    border-radius: 10px;
    width: 184px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
/* ============================ */
/* 使用者預覽 右邊介面 */
.contain-right{
    margin-left: 50px;
}
.view-text{
    letter-spacing: 2px;
    line-height: 35px;
}
.view-box{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.contract p{
    letter-spacing: 2px;
    line-height: 35px;
}

ul{
    list-style: none;
    letter-spacing: 2px;
    line-height: 35px;
}

