*{
    margin: 0;
    padding: 0;
}
html{
    position: relative;
}

h4{
    font-size: 24px;
    /* margin-left: 100px; */

}


body{
    background-image: url(./background.png);
    /* background-repeat: repeat-y; */
    /* width: 1920px; */
    height: auto;
    
}
section{
    max-width: 1320px;
    margin: auto;
    height: auto;
    justify-content: center;
    padding:0 150px;
}
/* 連結樣式 */
a:link{
    color: black;
    text-decoration:none;
}
a:visited{
    color: black;
    text-decoration:none;
}

/* ============================= */
.header{
    display: flex;
    flex-direction: row;
    margin-top: 30px ;
    justify-content: space-between;
    /* 更改點↓ */
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; /* 確保橫跨整個頁面 */
    z-index: 1000; /* 確保它在其他內容之上 */
}
.header .logo img{
    
    height: 120px;
    position: relative;
    top: -25px;
    left: 100px;
    
}
.header-whiteLine{
    background-color: white;
    box-sizing: border-box;
    width: 800px;
    height: 80px;
    border-radius:40px 0 0 40px ;
    /* padding-left: 100px;
    padding-right: 50px; */
    justify-content: center;
    align-content: center;
    
}
.header-txt ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 20px;
}
.header-txt ul li{
    padding:20px ;
    border-radius: 40px ;
}
/* hover */
.header-txt li:hover  {
    background-color: #FF9800;
    color: white;
}
/* ============================ */ 

.banner-bg img{
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 0px; ;
    z-index: -1;

}
.banner-title{
    display: flex;
    justify-content: space-between;
    

}






/* ============================ */
.title{
    font-size: 24px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 40px;
    /* 更改點↓ */
    /* 增加 .title 的上邊距，避開固定導覽列 */
    margin-top: 120px; /* 給予足夠的空間，讓 h2 位於 banner-bg 頂部 */
}
.target{
    margin-bottom: 200px;
}
.target-cardlist{
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(3,297px);
    justify-content: center;
    justify-items: center;

}
.target-icon {
    display: flex;
    justify-content: center;

    
}

/* ============================ */

.lawer .title h3{
    font-size: 32px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 50px;
}
.sub-title{
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 100px;
}



.lawer-cardlist{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    
}
.lawer-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    
    
}
.lawer-name{
    font-size: 24px;
    border-bottom:none;
    margin: 30px 0;
    transition: border-bottom .7s ease; 
}
.lawer-name p{
    padding-bottom: 15px;
}
.lawer-pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform .7s ease; 
}
.lawer-pic img{
    width: 80%;
    border-radius: 10px;
    
}

/* hover */

.lawer-pic:hover {
    transform: scale(1.2);
    
}

.lawer-pic:hover ~ .lawer-name{
   
    border-bottom: 5px solid #444;
}

.lawer-card a:hover + .lawer-name {
    border-bottom: 5px solid #444; /* Hover 時顯示底線 */
}
/* ============================ */
/* 頁尾 */
.footer{
    position: relative;
    display: flex;
    justify-content: space-evenly;
}
.bg-footer{
    position: absolute;
    bottom: 0;
    background-color: white;
    z-index: -1;
}
.bg-footer .gray-line{
    /* border:1px solid #000000; */
    height: 35px;
    background-color:#5A5A5A ;
}
.bg-footer img{
    width: 100%;
}
.footer .logo{
    padding-top: 84px;
}

.footer .logo img{
    width: 80%;
}

.txt-footer{
    padding-top: 84px;
    display: flex;
}
.txt-footer1{
    margin-right:100px;
}

.txt-footer1 p{
    padding: 20px 0;
    font-size: 16px;
    display: flex;
    align-content: center;
    justify-content: center;
    
    
}
.txt-footer2 p{
    padding: 20px 0;
    font-size: 16px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.copyright{
    align-self: self-end;
    font-size: 15px;
    
}
